html{
    font-size: 62.5%;
}

body{
    background-color: darkgrey;
    margin: 0rem;
    padding: 0rem;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

#img{
 /* margin: 1.8rem; */
 size: 1rem;
}

#img11{
    display: none;
}

#head{
    margin-top: 4rem;
    color: goldenrod;
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn1{
    width: 15rem;
    border-radius: 1.8rem;
    height: 5rem;
    margin: 2.6rem;
    margin-top: 4rem;
    background-color: aqua;
}

#mobile{
    display: none;
}
#con1{
    text-align: center;
    font-size: 5rem;
    color: chocolate;
}

.con2{
    text-align: center;
    font-size: 3rem;
}

#input{
    height: 3.8rem;
    width: 50%;
    border-radius: 1.8rem;
    text-align: center;
   margin: 0rem 30rem;

   border: none;
}

#input1{
    height: 3.8rem;
    width: 25%; 
    border-radius: 1.8rem; 
    background-color: antiquewhite;
    margin: 0rem 46.2rem;
 
}
footer{background-color: lightyellow;}
#foot1{
    display: flex;
    justify-content: space-around;
    
   height: 5rem;
}

#foot2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: darkcyan;
    margin-left: 4rem;
    margin-bottom: none;
}
.img1{
    size: 1rem;

}

@media screen and (max-width:1100px){
     /* Input Email and Request Access */
#input{
    height: 3.8rem;
    margin: 0rem 28rem;
}

#input1{
    height: 3.8rem;
    margin: 0rem 42.2rem;
}

/* Content */
#con1{
    font-size: 4.8rem;
}

.con2{
    font-size: 2.8rem;
}


/* Footer Section */
#foot1{
   height: 5rem;
}

#foot2{
    margin-left: 2.5rem;
    margin-bottom: none;
}
.img1{
    size: 0.8rem;
}
}

@media screen and (max-width:1000px){
     /* Input Email and Request Access */
    #input{
        height: 3.8rem;
        margin: 0rem 25rem;
    }
    
    #input1{
        height: 3.8rem;
        margin: 0rem 37.7rem;
    }

    /* Content */
#con1{
    font-size: 4.6rem;
}

.con2{
    font-size: 2.5rem;
}

    /* Footer Section */
#foot1{
    height: 4rem;
 }
 
 #foot2{
    font-size: 2.5rem;
     margin-left: 3.4rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}

@media screen and (max-width:900px){
    /* Input Email and Request Access */
        #input{
            height: 3.8rem;
            margin: 0rem 22rem;
        }
        
        #input1{
            height: 3.8rem;
            margin: 0rem 33.5rem;
        }

           /* Content */
#con1{
    font-size: 4.4rem;
}

.con2{
    font-size: 2.3rem;
}

        /* Header Section */
        #img{
            /* margin: 1.4rem; */
            size: 20rem;
           }
           
           #head{
              margin-top: 4.2rem;
               
               font-size: 2.8rem;
           }
           
           #btn1{
               width: 13rem;
               height: 4.5rem;
               margin: 2.6rem;
               margin-top: 4rem;
           }

/* Footer Section */
#foot1{
    height: 4rem;
 }
 
 #foot2{
    font-size: 2.5rem;
     margin-left: 2.4rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}

@media screen and (max-width:800px){
     /* Input Email and Request Access */
    #input{
        height: 3.8rem;
        margin: 0rem 20rem;
    }
    
    #input1{
        height: 3.8rem;
        margin: 0rem 30rem;
    }
    
    /* Content */
#con1{
    font-size: 4.2rem;
}

.con2{
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

    /* Header Section */
    #img{
       display: none;
       }

       #img11{
        display: block;
       }
       
       #head{
          margin-top: 3.7rem;
           
           font-size: 2.2rem;
       }
       
       #btn1{
           width: 11rem;
           height: 4.5rem;
           margin-right: 2.6rem;
           margin-top: 3rem;
       }
     

/* Footer Section */
#foot1{
    height: 3.5rem;
 }
 
 #foot2{
    font-size: 2.2rem;
     margin-left: 2.4rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}

@media screen and (max-width:700px){
     /* Input Email and Request Access */
    #input{
        height: 3.8rem;
        margin: 0rem 17.5rem;
    }
    
    #input1{
        height: 3.8rem;
        margin: 0rem 26.4rem;
    }

/* Content */
#con1{
    font-size: 4.1rem;
}

.con2{
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Footer Section */
#foot1{
    height: 3.2rem;
 }
 
 #foot2{
    font-size: 2.2rem;
     margin-left: 1.3rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}

@media screen and (max-width:600px){
     /* Input Email and Request Access */
    #input{
        height: 3.8rem;
        margin: 0rem 11.5rem;
        width:60%
    }
    
    #input1{
        height: 3.8rem;
        margin: 0rem 20.5rem;
        width: 30%;
    }

    /* Content */
#con1{
    font-size: 3rem;
}

.con2{
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

    /* Header Section */
    #img11{
        display: block;
        margin-left: 2rem;
       }
       
       #head{
        display: none;
       }
       
       #btn1{
           display: none;
       }
       
       #mobile{display: block;
        margin-right: 7rem;
         }
        
       #head1{
            color: azure;
            font-size: 2rem;
            
         }
         
       #btn2{
        display: block;
        width: 10rem;
        border-radius: 1.8rem;
        height: 3.5rem;
        margin: 2.6rem;
        margin-top: 0.9rem;
        background-color: aqua;
       }
/* Footer Section */
#foot1{
    height: 2.6rem;
 }
 
 #foot2{
    font-size: 1.8rem;
     margin-left: 1rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}

@media screen and (max-width:500px){
     /* Input Email and Request Access */
    #input{
        height: 3.8rem;
        margin: 0rem 9.5rem;
        width:60%;
        font-size: 1rem;
    }
    
    #input1{
        height: 3.8rem;
        margin: 0rem 17.5rem;
        width: 30%;
        font-size: 1rem;
    }
    /* Content */
    #con1{
        font-size: 2.6rem;
    }
    
    .con2{
        font-size: 1.6rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* Header Section */
    #img11{
        display: block;
        margin-left: 1rem;
       }

       
     #mobile{display: block;
        margin-right: 5rem;
         }
        
       #head1{
            color: azure;
            font-size: 2rem;
            
         }
   #btn2{
    display: block;
    width: 10rem;
    border-radius: 1.8rem;
    height: 3.5rem;
    margin: 2.6rem;
    margin-top: 0.9rem;
    background-color: aqua;
   }


/* Footer Section */
#foot1{
    height: 2rem;
 }
 
 #foot2{
    font-size: 1.2rem;
     margin-left: 1rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}

@media screen and (max-width:400px){
     /* Input Email and Request Access */
    #input{
        height: 3.8rem;
        margin: 0rem 7.5rem;
        width:60%;
        font-size: 1rem;
    }
    
    #input1{
        height: 3.8rem;
        margin: 0rem 14rem;
        width: 30%;
        font-size: 1rem;
    }
  
    /* Content */
    #con1{
        font-size: 2.1rem;
    }
    
    .con2{
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* Header Section */
    #img11{
        display: block;
        margin-left: 0.3rem;
       }

       
     #mobile{display: block;
        margin-right: 2rem;
         }
        
       #head1{
            color: azure;
            font-size: 2rem;
            
         }
   #btn2{
    display: block;
    width: 9rem;
    border-radius: 1.8rem;
    height: 3.4rem;
    margin: 2.6rem;
    margin-top: 0.9rem;
    background-color: aqua;
   }

/* Footer Section */
#foot1{
    height: 1.6rem;
 }
 
 #foot2{
    font-size: 1rem;
     margin-left: 0.8rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}

@media screen and (max-width:300px){
     /* Input Email and Request Access */
    #input{
        height: 3.8rem;
        margin: 0rem 5.5rem;
        width:60%;
        font-size: 1rem;
    }
    
    #input1{
        height: 3.8rem;
        margin: 0rem 10rem;
        width: 30%;
        font-size: 1rem;
    }
  
    /* Content */
    #con1{
        font-size: 2rem;
    }
    
    .con2{
        font-size: 1.1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* Header Section */
    #img11{
        display: block;
        margin-left: 0rem;
       }

       
     #mobile{display: block;
        margin-right: 0rem;
         }
        
       #head1{
            color: azure;
            font-size: 2rem;
            
         }
   #btn2{
    display: block;
    width: 10rem;
    border-radius: 1.8rem;
    height: 3.5rem;
    margin: 2.6rem;
    margin-top: 0.9rem;
    background-color: aqua;
   }
    /* Footer Section */
#foot1{
    height: 1.5rem;
 }
 
 #foot2{
    font-size: 0.6rem;
     margin-left: 0.4rem;
     margin-bottom: none;
 }
 .img1{
     size: 0.8rem;
 }
}